.Heading {
  
  background-color: #282c34;
  grid-row: 1;
  grid-column: 3/5;
  border-radius: 5px;
}

.grid{
  display: grid;
  gap: 5px;
  grid-auto-rows: minmax(135px, auto);
  padding: 5px;
  text-align: center;
  color: white;
  background-color: yellow;
  height: 568px;
}

.Banned{
  background-color: brown;
  border-radius: 5px;
}


.Picked{
  background-color: black;
  border-radius: 5px;
  height: 420px;
}


.Pool{
  background-color: green;
  grid-column: 2/6;
  grid-row: 2/5;
  border-radius: 5px;
  float:left;
  overflow-y: auto;
  height: 420px;
}

.grid img{
  display: inline-flex;
  height: 50px;
  width: 50px;
  padding: 30px;
  border-radius: 50%;
  float:center;
}

.button{
  display: flex;
  border:green;
}

.over{
  display: inline-flex;
  height: 50px;
  width: 50px;
  padding: 30px;
  border-radius: 50%;
  float:center;
  filter: grayscale(100%);
}

.selected{
  display: inline-flex;
  height: 50px;
  width: 50px;
  padding: 30px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
}